
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #8B81C3; */
  }
  
  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-form h2 {
    text-align: center;
    color: var(--lavender-dark);
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--lavender-dark);
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--lavender-dark);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: var(--secondary-color);
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-link a:hover {
    color: var(--lavender-accent);
  }
  